*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    background: linear-gradient(231deg, rgba(69, 102, 120, 0.57) 0%, rgba(43, 86, 106, 0.56) 50%, rgba(27, 46, 66, 0.63) 100%);
    /* background-color: aqua; */
    display: grid;
    place-items: center;
    font-family: "Poppins", sans-serif;
}

.game_info_tab{

    position: absolute;
    top: 4rem;
    color: aliceblue;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.6rem;
    background-color: rgba(200, 224, 251, 0.453);
    border: 2px solid rgba(255, 248, 248, 0.536);
    box-shadow: 0px 0px 5px rgb(197, 235, 255);
    cursor:default;
    user-select: none;
}

.tic_tac_toe_container{

    width: 90%;
    max-width: 320px;
    padding: 2rem;
    aspect-ratio: 1/1;
    background-color: rgba(200, 224, 251, 0.453);
    border-radius: 1rem;
    border: 2px solid rgba(255, 248, 248, 0.536);
    box-shadow: 0px 0px 5px rgb(197, 235, 255);
    color: aliceblue;
    font-size: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;

}

.box{

    padding: 0rem;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  
}

.box1, .box2, .box4, .box5{

    border-bottom: 3px solid rgba(31, 48, 61, 0.388);
    border-right: 3px solid rgba(31, 48, 61, 0.388);
}

.box3,.box6{

    border-bottom: 3px solid rgba(31, 48, 61, 0.388);
}

.box7, .box8{

    border-right: 3px solid rgba(31, 48, 61, 0.388);
}

.New_btn{

    position: absolute;
    bottom: 5rem;
    color: aliceblue;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.6rem;
    background-color: rgba(200, 224, 251, 0.453);
    border: 2px solid rgba(255, 248, 248, 0.536);
    box-shadow: 0px 0px 5px rgb(197, 235, 255);
    cursor: pointer;
    display: none;
}

.New_btn.active{

    display: flex;
}

.win{

    background-color: aquamarine;
}
























